@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-accent: var(--primary-accent);
  --color-foreground-muted: var(--foreground-muted);
  --color-background-muted: var(--background-muted);

  --breakpoint-xs: 576px;
}

@layer utilities {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #fed835;
    --secondary: #304fff;

    --primary-accent: #e5c230;
    --foreground-muted: #454545;
    --background-muted: #f3f3f5;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-lg;

    color: var(--foreground);
    background: var(--background);
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos .logos-container svg {
  @apply w-fit h-10 sm:h-12;
}

.custom-text-stoke {
  -webkit-text-stroke: 1px var(--foreground);
}
